.score {
  font-size: 32px;
  color: rgb(230, 96, 0);
  -webkit-text-stroke: 0.5px seashell;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logoImg {
  height: 400px;
}

.answerBtn {
  text-align: center;
  font-size: 18px;
  background-color: rgba(67, 67, 67, 0.847);
  margin-top: 12px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  height: 60px;
  width: 220px;
  color: seashell;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.answerBtn:hover{
  animation: rainbow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.gaemButtons {
  text-align: center;
  font-size: 18px;
  background-color: rgba(46, 46, 46, 0.922);
  margin-top: 20px;
  margin-top: 12px;
  margin-bottom: 130px;
  margin-left: 4px;
  margin-right: 4px;
  height: 40px;
  width: 160px;
  color: seashell;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.centerBoard{
  width: 1000px;
  height: 762px;
  background-color: rgba(0, 0, 0, 0.486);
  
}

.outerCenterBoard {
  display: flex;
  justify-content: center;
  text-align: center;
}

.resultText {
  font-size: 120px;
  color: rgb(230, 96, 0);
  -webkit-text-stroke: 0.25px seashell;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.result {
  height: 295px;
  width: auto;
}


@keyframes rainbow {
  0%   {border-color: red;}
  25%  {border-color: yellow;}
  50%  {border-color: blue;}
  100% {border-color: green;}
}

@media screen and (max-width: 600px) {
  .centerBoard {
    width: 410px;
    height: auto;
  }

  .logoImg{
    width: 390px;
    margin-bottom: -16px;
  }

  .resultText{
    font-size: 58px;
    height: 400px;
  }
}

@media screen and (max-width: 928px) and (min-width: 601px) {
  .centerBoard{
    width: 600px;
  }

  .logoImg{
    width: 590px;
    margin-bottom: -16px;
  }

}