.score {
  font-size: 32px;
  color: rgb(230, 96, 0);
  -webkit-text-stroke: 0.5px seashell;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logoImg {
  height: 400px;
}

.answerBtn {
  text-align: center;
  font-size: 18px;
  background-color: rgba(67, 67, 67, 0.847);
  margin-top: 12px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  height: 60px;
  width: 220px;
  color: seashell;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.gaemButtons {
  text-align: center;
  font-size: 18px;
  background-color: rgba(46, 46, 46, 0.922);
  margin-top: 20px;
  margin-top: 12px;
  margin-bottom: 130px;
  margin-left: 4px;
  margin-right: 4px;
  height: 40px;
  width: 160px;
  color: seashell;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.outerCenterBoard {
  text-align: center;
}

.resultText {
  font-size: 120px;
  color: rgb(230, 96, 0);
  -webkit-text-stroke: 0.25px seashell;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.result {
  height: auto;
  width: auto;
  background: rgba(46, 46, 46, 0.922);
  border-radius: 25px;
}
